<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <title th:text="${attraction.name}">관광지</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/guide/hotel.css}">
    </th:block>
</head>
<div layout:fragment="content">
    <div class="wrap">
        <!-- Main 영역 -->
        <main id="main">
            <div class="bgi_con">
                <img th:src="@{/images/bgi/bgi_hallasan2.jpg}" alt="">
                <div class="tit_con">
                    <h2>숙박</h2>
                </div>
            </div>
            <div class="main_con">
                <!-- tnb 메뉴 -->
                <div class="sub_tnb_con">
                    <ul>
                        <li><a href="../tour_guide/hotel.html" class="active">호텔</a></li>
                        <li><a href="../tour_guide/pension.html">펜션</a></li>
                        <li><a href="../tour_guide/guesthouse.html">게스트하우스</a></li>
                        <li><a href="../tour_guide/bnb.html">민박</a></li>
                    </ul>
                </div>
                <!-- 메인 컨텐츠 -->
                <div class="page_tit">
                    <h3>호텔</h3>
                    <h4>제주 호텔 가이드</h4>
                </div>
                <div class="page_content">
                    <div class="img_con">
                        <ul>
                            <li>
                                <a href="">
                                    <img th:src="@{/images/hotel/lamada.jpg}" alt="">
                                    <h5>라마다프라자 제주호텔</h5>
                                    <h6>제주시 > 제주시내</h6>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img th:src="@{/images/hotel/grand_hyatt.jpg}" alt="">
                                    <h5>그랜드 하얏트 호텔</h5>
                                    <h6>제주시 > 제주시내</h6>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img th:src="@{/images/hotel/oriental.jpg}" alt="">
                                    <h5>오리엔탈 호텔</h5>
                                    <h6>제주시 > 제주시내</h6>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img th:src="@{/images/hotel/marriott.jpg}" alt="">
                                    <h5>메리어트관 제주신화월드 호텔 앤 리조트</h5>
                                    <h6>서귀초시 > 언덕</h6>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="">
                                    <img th:src="@{/images/hotel/cs.jpg}" alt="">
                                    <h5>씨에스 호텔 앤 리조트</h5>
                                    <h6>서귀포시 > 중문</h6>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img th:src="@{/images/hotel/we.jpg}" alt="">
                                    <h5>WE호텔 제주</h5>
                                    <h6>서귀포시 > 서귀포시내</h6>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img th:src="@{/images/hotel/kal.jpg}" alt="">
                                    <h5>서귀포 KAL 호텔</h5>
                                    <h6>서귀포시 > 서귀포시내</h6>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img th:src="@{/images/hotel/mejong.jpg}" alt="">
                                    <h5>메종 글래드 제주</h5>
                                    <h6>제주시 > 제주시내</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pagination">
                        <a href="#" class="prev">◀</a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#" class="next">▶</a>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>

</html>