<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주문화관광</title>
    <!-- css link 모음 -->
    <link rel="stylesheet" href="../css/common/reset.css">
    <link rel="stylesheet" href="../css/common/font1.css">
    <link rel="stylesheet" href="../css/common/common.css">
    <link rel="stylesheet" href="../css/common/header.css">
    <link rel="stylesheet" href="../css/common/footer.css">
    <link rel="stylesheet" href="../css/common/sub_common.css">
    <link rel="stylesheet" href="../css/guide/ship.css">
</head>

<body>
    <div class="wrap">
        <!-- header영역 -->
        <header id="hd">
            <div class="container">
                <a href="../index.html" class="log">
                    <img src="../images/logo/J_logo.png" alt="">
                    <img src="../images/logo/logo_tt.png" alt="">
                </a>
                <nav class="gnb">
                    <ul class="menu">
                        <li>
                            <a href="../culture_page/myth.html" class="dp1">문화/역사/예술</a>
                            <ul class="sub">
                                <li><a href="../culture_page/myth.html">개국신화</a></li>
                                <li><a href="../culture_page/history.html">역사</a></li>
                                <li><a href="../culture_page/culture.html">민속</a></li>
                                <li><a href="../culture_page/story.html">탄생설화</a></li>
                                <li><a href="../culture_page/unesco.html">유네스코</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../tour_page/udo.html" class="dp1">여행</a>
                            <ul class="sub">
                                <li><a href="../tour_page/udo.html">우도</a></li>
                                <li><a href="../tour_page/marado.html">마라도</a></li>
                                <li><a href="../tour_page/chujado.html">추자도</a></li>
                                <li><a href="../tour_page/hallasan.html">한라산국립공원</a></li>
                                <li><a href="../tour_page/seopjikoji.html">섭지코지</a></li>
                                <li><a href="../tour_page/seongsan_peak.html">성산일출봉</a></li>
                                <li><a href="../tour_page/jeongbang.html">정방폭포</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../festival_page/sungsan.html" class="dp1">축제/행사</a>
                            <ul class="sub">
                                <li><a href="../festival_page/sungsan.html">성산일출봉일출축제</a></li>
                                <li><a href="../festival_page/olle.html">올레걷기체험</a></li>
                                <li><a href="../festival_page/forest.html">사려니숲에코힐링체험</a></li>
                                <li><a href="../festival_page/haenyeo.html">제주해녀축제</a></li>
                                <li><a href="../festival_page/flower.html">제주꽃축제</a></li>
                                <li><a href="../festival_page/monthly.html">월별행사</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../tour_guide/hotel.html" class="dp1">여행가이드</a>
                            <ul class="sub">
                                <li><a href="../tour_guide/hotel.html">숙박</a></li>
                                <li><a href="../tour_guide/air.html">교통</a></li>
                                <li><a href="../tour_guide/food.html">음식</a></li>
                                <li><a href="../tour_guide/shopping.html">쇼핑</a></li>
                                <li><a href="../tour_guide/map.html">지도.가이드북</a></li>
                                <li><a href="../tour_guide/jisik_in.html">제주지식IN</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../community_page/notice.html" class="dp1">커뮤니티</a>
                            <ul class="sub">
                                <li><a href="../community_page/notice.html">공지사항</a></li>
                                <li><a href="../community_page/travelogue.html">여행후기</a></li>
                                <li><a href="../community_page/event.html">이벤트</a></li>
                                <li><a href="../community_page/complaint.html">불편신고</a></li>
                                <li><a href="../community_page/qna.html">자주묻는질문</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="tnb">
                    <div class="tnb_con">
                        <a href="../user_page/login.html" class="tnb_bg1">
                            <img src="../images/icon/icon16.png" alt="감귤">
                            <span>로그인</span>
                        </a>
                    </div>
                    <div class="tnb_con">
                        <a href="../user_page/join.html" class="tnb_bg2">
                            <img src="../images/icon/icon5.png" alt="땅콩">
                            <span>회원가입</span>
                        </a>
                    </div>
                    <div class="tnb_con">
                        <a href="" class="tnb_bg3">
                            <img src="../images/icon/icon4.png" alt="돌하르방">
                            <span>Contact US</span>
                        </a>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Main 영역 -->
        <main id="main">
            <div class="bgi_con">
                <img src="../images/bgi/bgi_hallasan2.jpg" alt="">
                <div class="tit_con">
                    <h2>교통</h2>
                </div>
            </div>
            <div class="main_con">
                <!-- tnb 메뉴 -->
                <div class="sub_tnb_con">
                    <ul>
                        <li><a href="../tour_guide/air.html">항공</a></li>
                        <li><a href="../tour_guide/ship.html" class="active">여객선/도항선</a></li>
                        <li><a href="../tour_guide/taxi.html">택시</a></li>
                        <li><a href="../tour_guide/rent.html">렌터카</a></li>
                        <li><a href="../tour_guide/bus.html">제주버스</a></li>
                    </ul>
                </div>
                <!-- 메인 컨텐츠 -->
                <div class="page_tit">
                    <h3>여객선/도항선</h3>
                    <h5>
                        바다의 낭만과 함께, 여유롭고 합리적인 가격으로 제주여행을 할 수 있다.
                    </h5>
                </div>
                <div class="page_content">
                    <div class="main_time_table time_table">
                        <div class="table_tit">
                            <img src="../images/icon/icon8.png" alt="">
                            <h4>제주항 여객선 운항 시간표</h4>
                        </div>
                        <ul>
                            <li>
                                <h6>목포</h6>
                                <h4>퀸제누비아</h4>
                                <h5>국제여객(7부두)</h5>
                                <h6>예약/문의 : 씨월드고속훼리(주) 064)758-4234 </h6>
                            </li>
                            <li>
                                <h6>목포</h6>
                                <h4>퀸제누비아2</h4>
                                <h5>국제여객(7부두)</h5>
                                <h6>예약/문의 : 씨월드고속훼리(주) 064)758-4234 </h6>
                            </li>
                            <li>
                                <h6>추자/진도</h6>
                                <h4>산타모니카</h4>
                                <h5>연안여객(2부두)</h5>
                                <h6>예약/문의 : 씨월드고속훼리(주) 064)758-4234 </h6>
                            </li>
                            <li>
                                <h6>추자/완도</h6>
                                <h4>송림블루오션</h4>
                                <h5>연안여객(2부두)</h5>
                                <h6>예약/문의 : (주)송림해운 064)758-8889 </h6>
                            </li>
                            <li>
                                <h6>완도</h6>
                                <h4>실버클라우드 </h4>
                                <h5>국제여객(7부두)</h5>
                                <h6>예약/문의 : ㈜한일고속 1688-2100</h6>
                            </li>
                            <li>
                                <h6>완도</h6>
                                <h4>골드스텔라 </h4>
                                <h5>국제여객(7부두)</h5>
                                <h6>예약/문의 : ㈜한일고속 1688-2100</h6>
                            </li>
                            <li>
                                <h6>녹동</h6>
                                <h4>아리온제주</h4>
                                <h5>연안여객(2부두)</h5>
                                <h6>예약/문의 : ㈜남해고속 064)723-9700</h6>
                            </li>
                            <li>
                                <h6>삼천포</h6>
                                <h4>오션비스타 제주</h4>
                                <h5>국제여객(7부두)</h5>
                                <h6>예약/문의 : ㈜현성MCT 064)759-8486 055)832-3001 </h6>
                            </li>
                        </ul>
                    </div>
                    <div class="sub_time_table time_table">
                        <div class="table_tit">
                            <img src="../images/icon/icon8.png" alt="">
                            <h4>제주 본섬 ↔ 부속섬 이동 배편</h4>
                        </div>
                        <ul>
                            <li>
                                <h6>목포</h6>
                                <h4>퀸제누비아</h4>
                                <h5>국제여객(7부두)</h5>
                                <h6>예약/문의 : 씨월드고속훼리(주) 064)758-4234 </h6>
                            </li>
                            <li>
                                <h6>목포</h6>
                                <h4>퀸제누비아2</h4>
                                <h5>국제여객(7부두)</h5>
                                <h6>예약/문의 : 씨월드고속훼리(주) 064)758-4234 </h6>
                            </li>
                            <li>
                                <h6>추자/진도</h6>
                                <h4>산타모니카</h4>
                                <h5>연안여객(2부두)</h5>
                                <h6>예약/문의 : 씨월드고속훼리(주) 064)758-4234 </h6>
                            </li>
                            <li>
                                <h6>추자/완도</h6>
                                <h4>송림블루오션</h4>
                                <h5>연안여객(2부두)</h5>
                                <h6>예약/문의 : (주)송림해운 064)758-8889 </h6>
                            </li>
                            <li>
                                <h6>완도</h6>
                                <h4>실버클라우드 </h4>
                                <h5>국제여객(7부두)</h5>
                                <h6>예약/문의 : ㈜한일고속 1688-2100</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="ship_btn_con">
                        <div class="port_btn_con">
                            <a href="">제주항여객선터미널 바로가기</a>

                        </div>
                        <div class="mtis_btn_con">
                            <a href="">해양교통안전정보시스템 바로가기</a>

                        </div>

                    </div>

                </div>
            </div>
        </main>
        <!-- footer 영역 -->
        <footer id="ft">
            <div class="container">
                <nav id="banner_bar">
                    <ul>
                        <li>
                            <a href="https://www.jeju.go.kr/index.htm">
                                <img src="../images/banner/ban01.png" alt="제주특별자치도">
                            </a>
                        </li>
                        <li>
                            <a href="https://korean.visitkorea.or.kr/main/main.do">
                                <img src="../images/banner/ban02.png" alt="한국관광공사">
                            </a>
                        </li>
                        <li>
                            <a href="https://mall.ejeju.net/main/index.do">
                                <img src="../images/banner/ban03.png" alt="eJeju">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.jejudfs.com/">
                                <img src="../images/banner/ban04.png" alt="제주면세">
                            </a>
                        </li>
                        <li>
                            <a href="https://ijto.or.kr/korean/">
                                <img src="../images/banner/ban05.png" alt="제주관광공사">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.kma.go.kr/jeju/html/main/index.jsp">
                                <img src="../images/banner/ban06.png" alt="제주지방기상청">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tamnao.com/">
                                <img src="../images/banner/ban07.png" alt="제주종합쇼핑몰 탐나오">
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav id="fnb">
                    <a href="">개인정보처리방침</a>
                    <a href="">이용약관</a>
                    <a href="">제주관광문의</a>
                    <a href="">불편신고</a>
                </nav>
                <div class="copyright">
                    <p class="cp_1">Copyright©Jeju Tourism Organization, All rights reserved.</p>
                    <p class="cp_2">홈페이지에 게시된 이메일 주소가 자동수집되는 것을 거부하며, 위반시 정보통신망법에 의해 처벌될 수 있습니다.</p>
                    <p class="cp_3">(63122) 제주특별자치도 제주시 선덕로 23(연동) 제주웰컴센터<br>
                        관광문의 : 제주관광공사 Tel : 064-740-6000~1 FAX : 064-740-6090 사업자등록번호 : 616-82-21432<br>
                        관광불편신고 : 제주관광불편신고센터(1533-0082)</p>
                </div>
            </div>
        </footer>



    </div>
</body>

</html>