<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - 제주관광">제주관광</title>

    <!-- 공통 CSS -->
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/font1.css}">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/sub_common.css}">

    <!-- 페이지별 CSS 추가 슬롯 -->
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<div class="wrap">

    <!-- 헤더 fragment 삽입 -->
    <th:block th:replace="~{layout/header :: header}"></th:block>

    <!-- 각 페이지 콘텐츠 영역 -->
    <main id="main">
        <div layout:fragment="content">
            <!-- 자식 페이지 내용이 여기에 채워짐 -->
        </div>
    </main>

    <!-- 푸터 fragment 삽입 -->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>

    <!--  script 부분  -->
    <th:block layout:fragment="script"></th:block>
</div>
</body>
</html>