<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <title>불편신고 - 제주관광</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/community/complaint.css}">
    </th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="bgi_con">
        <img th:src="@{/images/community/community_noti_bg.jpg}" alt="">
        <div class="tit_con">
            <h2>불편신고</h2>
        </div>
    </div>
    <div class="main_con">
        <!-- tnb 메뉴 -->
        <div class="sub_tnb_con">
            <ul>
                <li><a th:href="@{/community/notice/list}">공지사항</a></li>
                <li><a th:href="@{/community/travelogue}">여행후기</a></li>
                <li><a th:href="@{/community/event}">이벤트</a></li>
                <li><a th:href="@{/community/complaint}">불편신고</a></li>
                <li><a th:href="@{/community/qna}">자주묻는질문</a></li>
            </ul>
        </div>

        <!-- 메인 컨텐츠 -->
        <div class="page_tit">
            <h3>불편신고</h3>
        </div>
        <div class="page_content">
            <div class="page_grid">
                <div class="row1">
                    <!-- 불편신고 폼 영역 -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
