<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <title>여행후기 - 제주관광</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/community/travelogue.css}">
    </th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="bgi_con">
        <img th:src="@{/images/community/community_trave_bg.jpg}" alt="">
    </div>
    <div class="main_con">
        <!-- tnb 메뉴 -->
        <div class="sub_tnb_con">
            <ul>
                <li><a th:href="@{/community/notice/list}">공지사항</a></li>
                <li><a th:href="@{/community/travelogue}">여행후기</a></li>
                <li><a th:href="@{/community/event}">이벤트</a></li>
                <li><a th:href="@{/community/complaint}">불편신고</a></li>
                <li><a th:href="@{/community/qna}">자주묻는질문</a></li>
            </ul>
        </div>

        <!-- 메인 컨텐츠 -->
        <div class="page" id="travelogue_page">
            <div class="page_wrap">
                <div class="page_tit">
                    <h3>여행후기</h3>
                </div>
                <div class="page_content">
                    <ul class="travel_list">
                        <li th:each="item : ${travelogueList}" class="travel_item">
                            <a th:href="@{/community/travelogue/{id}(id=${item.id})}">
                                <div class="img_box">
                                    <img th:src="${item.thumbnailUrl}" th:alt="${item.title}">
                                </div>
                                <div class="txt_box">
                                    <h4 th:text="${item.title}"></h4>
                                    <div class="info">
                                        <span class="author" th:text="${item.author}"></span>
                                        <span class="date" th:text="${item.createdAt}"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="btn_con">
                        <a th:href="@{/community/travelogue/write}" class="btn_write">후기 작성하기</a>
                    </div>
                    <div class="pagination">
                        <a th:href="@{/community/travelogue(page=${currentPage - 1})}" class="prev">◀</a>
                        <a th:each="i : ${#numbers.sequence(1, totalPages)}"
                           th:href="@{/community/travelogue(page=${i})}"
                           th:text="${i}"
                           th:classappend="${i == currentPage} ? 'active'"></a>
                        <a th:href="@{/community/travelogue(page=${currentPage + 1})}" class="next">▶</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
