<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>축제/행사</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/festival/monthly.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <div class="bgi_con">
            <img th:src="@{/images/bgi/bgi_hallasan2.jpg}" alt="">
            <div class="tit_con">
                <h2>축제/행사</h2>
            </div>
        </div>
        <div class="main_con">
            <!-- tnb 메뉴 -->
            <div class="sub_tnb_con">
                <ul>
                    <li><a th:href="@{/event/list}" class="active">월별행사</a></li>
                    <li><a th:href="@{/festival/detail/1}">성산일출봉일출축제</a></li>
                    <li><a th:href="@{/festival/detail/2}" >올레걷기체험</a></li>
                    <li><a th:href="@{/festival/detail/3}">사려니숲에코힐링체험</a></li>
                    <li><a th:href="@{/festival/detail/4}">제주해녀축제</a></li>
                    <li><a th:href="@{/festival/detail/5}">제주꽃축제</a></li>
                </ul>
            </div>

            <!-- 메인 컨텐츠 -->
            <div class="page_tit">
                <h3>제주의 월별 행사 정보</h3>
                <h4>다양한 행사를 취향에 맞게 선택해 보자</h4>
            </div>
            <div class="page_content">
                <p class="info">2026년 03월 01일부터 2026년 04월 30일까지의 행사정보입니다.</p>

                <div class="festival-list">
                    <div class="festival-wrapper">
                        <div class="festival feb">
                            <div class="festival-info m2" th:each="event : ${list}">
                                <a th:href="${event.linkPage}">
                                    <img th:src="@{${event.urlPath}}" alt="">
                                    <strong th:text="${event.name}"></strong>
                                    <span class="item_period" th:text="${event.period}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_bottom">
                    <img th:src="@{/images/jeju/festival/month.jpg}" alt="">
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>