<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>문화/역사/예술</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/festival/haenyeo.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <div class="bgi_con">
            <img th:src="@{/images/bgi/bgi_hallasan2.jpg}" alt="">
            <div class="tit_con">
                <h2>축제/행사</h2>
            </div>
        </div>
        <div class="main_con">
            <!-- tnb 메뉴 -->
            <div class="sub_tnb_con">
                <ul>
                    <li><a th:href="@{/event/list}">월별행사</a></li>
                    <li><a th:href="@{1}">성산일출봉일출축제</a></li>
                    <li><a th:href="@{2}">올레걷기체험</a></li>
                    <li><a th:href="@{3}">사려니숲에코힐링체험</a></li>
                    <li><a th:href="@{4}" class="active">제주해녀축제</a></li>
                    <li><a th:href="@{5}">제주꽃축제</a></li>
                </ul>
            </div>
            <!-- 메인 컨텐츠 -->
            <div class="page_tit">
                <h3>페이지 리뉴얼 안내</h3>
            </div>
            <div class="page_content">
                <ul class="page_grid">
                    <div class="grid_item_img">
                        <figure class="page_grid_img">
                            <img th:src="@{/images/jeju/festival/renew.jpg}" alt="">
                        </figure>
                    </div>
                </ul>
            </div>
        </div>
    </main>
</div>
</body>
</html>